<div class="d-flex flex-column fill-height overflow-hidden">
  <div class="co--scroll-area co--scroll-area--fit m-3">
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
  </div>

  <div class="co--scroll-area co--scroll-area--fit m-3">
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
    <div class="co--tile" class="m-5">Lorem ipsum dolar</div>
  </div>
</div>
