<div class="co--grid">
  <div class="co--row">
    <div class="co--col-lg">
      <div>
        <h5>sm</h5>
        <button class="co--btn co--btn--primary co--btn--sm" type="button">
          Button
        </button>
      </div>
    </div>
    <div class="co--col-lg">
      <div>
        <h5>field</h5>

        <button class="co--btn co--btn--primary co--btn--field" type="button">
          Button
        </button>
      </div>
    </div>

    <div class="co--col-lg">
      <div>
        <h5>lg</h5>
        <button class="co--btn co--btn--primary" type="button">Button</button>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <h5>Disabled</h5>
    <button class="co--btn co--btn--primary" disabled type="button">
      Button
    </button>
  </div>

  <div class="mt-3">
    <h5>Ghost</h5>
    <button class="co--btn co--btn--ghost" type="button">Button</button>
  </div>

  <div class="mt-3">
    <h5>Button Set</h5>

    <div class="co--btn-set">
      <button class="co--btn co--btn--secondary">Secondary Button</button>
      <button class="co--btn co--btn--primary">Primary Button</button>
      <button class="co--btn co--btn--danger">Danger Button</button>
      <button class="co--btn co--btn--tertiary" type="button">Button</button>
    </div>
  </div>
</div>
