@import "@carbon/layout/scss/_spacing";

$spacings: (
  1: $spacing-01,
  2: $spacing-02,
  3: $spacing-03,
  4: $spacing-04,
  5: $spacing-05,
  6: $spacing-06,
  7: $spacing-07,
  8: $spacing-08,
  9: $spacing-09,
  10: $spacing-10,
  11: $spacing-11,
  12: $spacing-12,
);

@each $spacing, $value in $spacings {
  .m-#{$spacing} {
    margin: $value;
  }

  .mx-#{$spacing} {
    margin: 0 $value;
  }

  .my-#{$spacing} {
    margin: $value 0;
  }

  .mt-#{$spacing} {
    margin-top: $value;
  }

  .mb-#{$spacing} {
    margin-bottom: $value;
  }

  .ml-#{$spacing} {
    margin-left: $value;
  }

  .mr-#{$spacing} {
    margin-right: $value;
  }

  .p-#{$spacing} {
    padding: $value;
  }

  .px-#{$spacing} {
    padding: 0 $value;
  }

  .py-#{$spacing} {
    padding: $value 0;
  }

  .pt-#{$spacing} {
    padding-top: $value;
  }

  .pb-#{$spacing} {
    padding-bottom: $value;
  }

  .pl-#{$spacing} {
    padding-left: $value;
  }

  .pr-#{$spacing} {
    padding-right: $value;
  }
}
