@import "carbon-components/scss/globals/scss/css--reset";

@import "./globals";
@import "./utility";
@import "./themes";
@import "./grid";
@import "../components";

html,
body {
  @include reset;
  @include type-style("body-short-01");
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color:$text-01
}

#app-wrapper {
  background-color: $ui-background;
  color: $text-01;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
