@import "./reset.scss";

@import "./globals";
@import "./utility";
@import "./themes";
@import "./grid";
@import "../components";

html,
body {
  @include reset;
  @include type-style("body-short-01");
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

#app-wrapper {
  background-color:$ui-background;
  color: $text-01;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
