$datePickerCalenderUnitSize: 2.5rem;
$datePickerSuggestionSize: 3 * $datePickerCalenderUnitSize;

@mixin calendar-unit() {
  width: $datePickerCalenderUnitSize;
  height: $datePickerCalenderUnitSize;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
  &:hover {
    background-color: $hover-ui;
  }
}

.#{$prefix}--date-picker-calender {
  background-color: $ui-01;
  display: inline-flex;
  flex-direction: column;
  user-select: none;
  touch-action: manipulation;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  animation: none;
  position: absolute;
  &.elevated {
    box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6,
      0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
  }
  &.open,
  &.inline {
    opacity: 1;
    visibility: inherit;
    overflow: visible;
    max-height: 640px;
  }
  &.inline {
    position: relative;
  }
  &.animate.open {
    animation: fpFadeInDown $duration--fast-02 motion(entrance, productive);
  }
  &:focus {
    @include focus-outline("border");
  }
}

.#{$prefix}--date-picker-calender__header {
  padding: $spacing-03 $spacing-05;
  background-color: $inverse-02;
  color: $text-03;
  display: flex;
  overflow: hidden;
  max-width: calc(2 * #{$spacing-03} + #{7 * $datePickerCalenderUnitSize});
  h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.#{$prefix}--date-range-picker-calender {
  .#{$prefix}--date-picker-calender__header {
    max-width: calc(4 * #{$spacing-03} + #{14 * $datePickerCalenderUnitSize});
  }
  &.has-suggestions {
    .#{$prefix}--date-picker-calender__header {
      max-width: calc(
        4 * #{$spacing-03} + #{14 * $datePickerCalenderUnitSize} + #{$datePickerSuggestionSize}
      );
      padding-left: $datePickerSuggestionSize;
    }
  }
}

.#{$prefix}--date-picker-calender__body {
  padding: $spacing-03;
}

.#{$prefix}--date-picker-calender__days,
.#{$prefix}--date-picker-calender__weekdays {
  display: flex;
  flex-wrap: wrap;
  max-width: 7 * $datePickerCalenderUnitSize;
  width: 7 * $datePickerCalenderUnitSize;
}

.#{$prefix}--date-picker-calender__day {
  @include calendar-unit();
  @include type-style("body-short-01");
  &.prev-month-day,
  &.next-month-day {
    color: $text-05;
  }

  &.selected {
    color: $text-04;
    background-color: $interactive-01;

    &:focus {
      outline: rem(1px) solid $ui-02;
      outline-offset: rem(-3px);
    }
  }

  &.today {
    position: relative;
    color: $link-01;
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: rem(7px);
      left: 50%;
      transform: translateX(-50%);
      height: rem(4px);
      width: rem(4px);
      background-color: $link-01;
    }

    &.selected {
      @include focus-outline("outline");
      color: $text-04;

      &::after {
        display: none;
      }
    }
  }

  &.in-range {
    background-color: $highlight;
    color: $text-01;
  }
}

.#{$prefix}--date-picker-calender__weekday {
  @include calendar-unit();
  @include type-style("caption-01");
  color: $text-05;
}

.#{$prefix}--date-picker-calender__navigation {
  display: flex;
}

.#{$prefix}--date-picker-calender__inputs {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.#{$prefix}--date-picker-calender__month,
.#{$prefix}--date-picker-calender__year {
  background-color: transparent;
  height: 2rem;
  margin: 0;
  border: none;
  padding: $spacing-02;
  color: $text-01;
  font-size: inherit;
  font-family: inherit !important;
  font-weight: 600;
  line-height: inherit;
  vertical-align: baseline;
  width: auto;
  &:focus {
    @include focus-outline("border");
  }

  &[disabled],
  &[disabled]:hover {
    color: $disabled-02;
    background-color: $ui-01;
    pointer-events: none;
  }
}

.#{$prefix}--date-picker-calender__prev-month,
.#{$prefix}--date-picker-calender__next-month,
.#{$prefix}--date-picker-calender__prev-hour,
.#{$prefix}--date-picker-calender__next-hour,
.#{$prefix}--date-picker-calender__prev-minute,
.#{$prefix}--date-picker-calender__next-minute {
  @include calendar-unit();
  fill: $text-01;
}

.#{$prefix}--date-picker-calender__year {
  width: 7ch;
  margin-left: $spacing-04;
}

.#{$prefix}--date-picker-calender__time {
  display: flex;
  align-items: center;
  background-color: $ui-03;
  padding: $spacing-02 0;

  .#{$prefix}--date-picker-calender__hours,
  .#{$prefix}--date-picker-calender__minutes {
    display: flex;
    max-width: 5 * $datePickerCalenderUnitSize;
    width: 5 * $datePickerCalenderUnitSize;
    overflow: hidden;
  }

  .#{$prefix}--date-picker-calender__hour,
  .#{$prefix}--date-picker-calender__minute {
    @include calendar-unit();
    &.selected {
      color: $text-04;
      background-color: $interactive-04;
    }
  }
}

.#{$prefix}--date-picker-calender__footer {
  display: flex;
  justify-content: space-between;
  padding: $spacing-02 $spacing-03;
  background-color: $ui-03;

  .#{$prefix}--btn.#{$prefix}--btn--ghost {
    color: $text-01;
  }
}

.#{$prefix}--date-range-picker-calender__suggestions {
  padding: $spacing-04;
  width: $datePickerSuggestionSize;
  border-right: 1px solid $ui-03;

  .#{$prefix}--btn {
    margin-bottom: $spacing-02;
    width: 100%;
  }
}

.#{$prefix}--date-range-picker-calender__body {
  display: flex;
}

@keyframes fpFadeInDown {
  from {
    opacity: 0;

    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }
}
