<div class="co--date-picker-calender">
  <div class="co--date-picker-calender__header">11.09.2020</div>
  <div class="co--date-picker-calender__body">
    <div class="co--date-picker-calender__navigation">
      <div class="co--date-picker-calender__prev-month">
        <svg
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          style="will-change: transform"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          aria-hidden="true"
        >
          <path d="M5 8l5-5 .7.7L6.4 8l4.3 4.3-.7.7z"></path>
        </svg>
      </div>
      <div class="d-flex flex-grow justify-center">
        <select name="month" class="co--date-picker-calender__month">
          <option value="1" selected>Ocak</option>
          <option value="2">Şubat</option>
          <option value="3">Mart</option>
        </select>

        <input
          type="number"
          name="year"
          class="co--date-picker-calender__year"
          value="2020"
        />
      </div>

      <div class="co--date-picker-calender__next-month">
        <svg
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          style="will-change: transform"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          aria-hidden="true"
        >
          <path d="M11 8l-5 5-.7-.7L9.6 8 5.3 3.7 6 3z"></path>
        </svg>
      </div>
    </div>

    <div class="co--date-picker-calender__content">
      <div class="co--date-picker-calender__weekdays"></div>
      <div class="co--date-picker-calender__days">
        <span class="co--date-picker-calender__day">30</span>
        <span class="co--date-picker-calender__day">31</span>
        <span class="co--date-picker-calender__day">1</span>
        <span class="co--date-picker-calender__day">2</span>
        <span class="co--date-picker-calender__day">3</span>
        <span class="co--date-picker-calender__day">4</span>
        <span class="co--date-picker-calender__day">5</span>
        <span class="co--date-picker-calender__day">6</span>
        <span class="co--date-picker-calender__day">7</span>
        <span class="co--date-picker-calender__day">8</span>
        <span class="co--date-picker-calender__day">9</span>
        <span class="co--date-picker-calender__day">10</span>
        <span class="co--date-picker-calender__day">11</span>
        <span class="co--date-picker-calender__day">12</span>
        <span class="co--date-picker-calender__day">13</span>
        <span class="co--date-picker-calender__day">14</span>
        <span class="co--date-picker-calender__day">15</span>
        <span class="co--date-picker-calender__day">16</span>
        <span class="co--date-picker-calender__day">17</span>
        <span class="co--date-picker-calender__day">18</span>
        <span class="co--date-picker-calender__day">19</span>
        <span class="co--date-picker-calender__day">20</span>
        <span class="co--date-picker-calender__day">21</span>
        <span class="co--date-picker-calender__day">22</span>
        <span class="co--date-picker-calender__day">23</span>
        <span class="co--date-picker-calender__day">24</span>
        <span class="co--date-picker-calender__day">25</span>
        <span class="co--date-picker-calender__day">26</span>
        <span class="co--date-picker-calender__day">27</span>
        <span class="co--date-picker-calender__day">28</span>
        <span class="co--date-picker-calender__day">29</span>
        <span class="co--date-picker-calender__day">30</span>
        <span class="co--date-picker-calender__day">1</span>
        <span class="co--date-picker-calender__day">2</span>
        <span class="co--date-picker-calender__day">3</span>
        <span class="co--date-picker-calender__day">4</span>
        <span class="co--date-picker-calender__day">5</span>
        <span class="co--date-picker-calender__day">6</span>
        <span class="co--date-picker-calender__day">7</span>
        <span class="co--date-picker-calender__day">8</span>
        <span class="co--date-picker-calender__day">9</span>
        <span class="co--date-picker-calender__day">10</span>
      </div>
    </div>
  </div>
  <div class="co--date-picker-calender__footer"></div>
</div>
