@import "carbon-components/scss/components/dropdown/dropdown";

.#{$prefix}--dropdown {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.#{$prefix}--dropdown-list {
  display: none;
  max-height: initial;
  width: initial;
  &--shown {
    display: flex;
  }
  .#{$prefix}--dropdown-item {
    opacity: 1;
    visibility: visible !important;
  }
}
