<div class="co--form-item">
  <div class="co--dropdown__wrapper">
    <span id="example-1i7ng3rpzyp-label" class="co--label">Dropdown label</span>
    <div class="co--form__helper-text">Optional helper text.</div>
    <div data-dropdown data-value class="co--dropdown">
      <button
        class="co--dropdown-text"
        aria-haspopup="true"
        aria-expanded="false"
        aria-controls="example-1i7ng3rpzyp-menu"
        aria-labelledby="example-1i7ng3rpzyp-label example-1i7ng3rpzyp-value"
        data-dropdown-target="#example-1i7ng3rpzyp-menu"
        type="button"
      >
        <span class="co--dropdown-text__inner" id="example-1i7ng3rpzyp-value">
          Dropdown option
        </span>
        <span class="co--dropdown__arrow-container">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            class="co--dropdown__arrow"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            aria-hidden="true"
          >
            <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
          </svg>
        </span>
      </button>
      <ul
        class="co--dropdown-list"
        id="example-1i7ng3rpzyp-menu"
        role="menu"
        tabindex="0"
        id="example-1i7ng3rpzyp-menu"
        aria-hidden="true"
        wh-menu-anchor="left"
        aria-labelledby="example-1i7ng3rpzyp-label"
        data-floating-menu-direction="bottom"
      >
        <li
          data-option
          data-value="all"
          class="co--dropdown-item"
          title="Option 1"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="true"
            id="example-1i7ng3rpzyp-item0"
            >Option 1</a
          >
        </li>
        <li
          data-option
          data-value="cloudFoundry"
          class="co--dropdown-item"
          title="Option 2"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-1i7ng3rpzyp-item1"
            >Option 2</a
          >
        </li>
        <li
          data-option
          data-value="staging"
          class="co--dropdown-item"
          title="Option 3"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-1i7ng3rpzyp-item2"
            >Option 3</a
          >
        </li>
        <li
          data-option
          data-value="dea"
          class="co--dropdown-item"
          title="Option 4"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-1i7ng3rpzyp-item3"
            >Option 4</a
          >
        </li>
        <li
          data-option
          data-value="router"
          class="co--dropdown-item"
          title="Option 5"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-1i7ng3rpzyp-item4"
            >Option 5</a
          >
        </li>
        <li
          data-option
          data-value="loremipsum"
          class="co--dropdown-item"
          title="An example option that is really long to show what should be done to handle long text"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-1i7ng3rpzyp-item5"
            >An example option that is really long to show what should be done
            to handle long text</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="co--form-item">
  <div class="co--dropdown__wrapper">
    <span id="example-gjjjeyxuf6-label" class="co--label">Dropdown label</span>
    <div class="co--form__helper-text">
      Optional helper text here; if message is more than one line text should
      wrap (~100 character count maximum)
    </div>
    <div data-dropdown data-value class="co--dropdown">
      <button
        class="co--dropdown-text"
        aria-haspopup="true"
        aria-expanded="false"
        aria-controls="example-gjjjeyxuf6-menu"
        aria-labelledby="example-gjjjeyxuf6-label example-gjjjeyxuf6-value"
        data-dropdown-target="#example-gjjjeyxuf6-menu"
        type="button"
      >
        <span class="co--dropdown-text__inner" id="example-gjjjeyxuf6-value">
          Dropdown option
        </span>
        <span class="co--dropdown__arrow-container">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            class="co--dropdown__arrow"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            aria-hidden="true"
          >
            <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
          </svg>
        </span>
      </button>
      <ul
        class="co--dropdown-list"
        role="menu"
        tabindex="0"
        id="example-gjjjeyxuf6-menu"
        aria-hidden="true"
        wh-menu-anchor="left"
        aria-labelledby="example-gjjjeyxuf6-label"
        data-floating-menu-direction="bottom"
      >
        <li
          data-option
          data-value="all"
          class="co--dropdown-item"
          title="Option 1"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="true"
            id="example-gjjjeyxuf6-item0"
            >Option 1</a
          >
        </li>
        <li
          data-option
          data-value="cloudFoundry"
          class="co--dropdown-item"
          title="Option 2"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-gjjjeyxuf6-item1"
            >Option 2</a
          >
        </li>
        <li
          data-option
          data-value="staging"
          class="co--dropdown-item"
          title="Option 3"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-gjjjeyxuf6-item2"
            >Option 3</a
          >
        </li>
        <li
          data-option
          data-value="dea"
          class="co--dropdown-item"
          title="Option 4"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-gjjjeyxuf6-item3"
            >Option 4</a
          >
        </li>
        <li
          data-option
          data-value="router"
          class="co--dropdown-item"
          title="Option 5"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-gjjjeyxuf6-item4"
            >Option 5</a
          >
        </li>
        <li
          data-option
          data-value="loremipsum"
          class="co--dropdown-item"
          title="An example option that is really long to show what should be done to handle long text"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-gjjjeyxuf6-item5"
            >An example option that is really long to show what should be done
            to handle long text</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="co--form-item">
  <div class="co--dropdown__wrapper">
    <span
      id="example-xcfretaib7h-label"
      class="co--label co--label--disabled"
      aria-disabled="true"
      >Dropdown label</span
    >
    <div
      class="co--form__helper-text co--form__helper-text--disabled"
      aria-disabled="true"
    >
      Optional helper text here; if message is more than one line text should
      wrap (~100 character count maximum)
    </div>
    <div data-dropdown data-value class="co--dropdown co--dropdown--disabled">
      <button
        disabled
        class="co--dropdown-text"
        aria-haspopup="true"
        aria-expanded="false"
        aria-controls="example-xcfretaib7h-menu"
        aria-labelledby="example-xcfretaib7h-label example-xcfretaib7h-value"
        data-dropdown-target="#example-xcfretaib7h-menu"
        type="button"
      >
        <span class="co--dropdown-text__inner" id="example-xcfretaib7h-value">
          Dropdown option
        </span>
        <span class="co--dropdown__arrow-container">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            class="co--dropdown__arrow"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            aria-hidden="true"
          >
            <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
          </svg>
        </span>
      </button>
      <!-- Note: remove `tabindex` from disabled dropdown lists -->
      <ul
        class="co--dropdown-list"
        id="example-xcfretaib7h-menu"
        role="menu"
        id="example-xcfretaib7h-menu"
        aria-hidden="true"
        wh-menu-anchor="left"
        aria-labelledby="example-xcfretaib7h-label"
        data-floating-menu-direction="bottom"
      >
        <li
          data-option
          data-value="all"
          class="co--dropdown-item"
          title="Option 1"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="true"
            id="example-xcfretaib7h-item0"
            >Option 1</a
          >
        </li>
        <li
          data-option
          data-value="cloudFoundry"
          class="co--dropdown-item"
          title="Option 2"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-xcfretaib7h-item1"
            >Option 2</a
          >
        </li>
        <li
          data-option
          data-value="staging"
          class="co--dropdown-item"
          title="Option 3"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-xcfretaib7h-item2"
            >Option 3</a
          >
        </li>
        <li
          data-option
          data-value="dea"
          class="co--dropdown-item"
          title="Option 4"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-xcfretaib7h-item3"
            >Option 4</a
          >
        </li>
        <li
          data-option
          data-value="router"
          class="co--dropdown-item"
          title="Option 5"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-xcfretaib7h-item4"
            >Option 5</a
          >
        </li>
        <li
          data-option
          data-value="loremipsum"
          class="co--dropdown-item"
          title="An example option that is really long to show what should be done to handle long text"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-xcfretaib7h-item5"
            >An example option that is really long to show what should be done
            to handle long text</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="co--form-item">
  <div class="co--dropdown__wrapper">
    <span id="example-ujn0i8pm5i8-label" class="co--label">Dropdown label</span>
    <div class="co--form__helper-text">
      Optional helper text here; if message is more than one line text should
      wrap (~100 character count maximum)
    </div>
    <div
      data-dropdown
      data-value
      class="co--dropdown co--dropdown--invalid"
      data-invalid
    >
      <button
        class="co--dropdown-text"
        aria-haspopup="true"
        aria-expanded="false"
        aria-controls="example-ujn0i8pm5i8-menu"
        aria-labelledby="example-ujn0i8pm5i8-label example-ujn0i8pm5i8-value"
        data-dropdown-target="#example-ujn0i8pm5i8-menu"
        type="button"
      >
        <svg
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          xmlns="http://www.w3.org/2000/svg"
          class="co--dropdown__invalid-icon"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          aria-hidden="true"
        >
          <path
            d="M8,1C4.2,1,1,4.2,1,8s3.2,7,7,7s7-3.1,7-7S11.9,1,8,1z M7.5,4h1v5h-1C7.5,9,7.5,4,7.5,4z M8,12.2	c-0.4,0-0.8-0.4-0.8-0.8s0.3-0.8,0.8-0.8c0.4,0,0.8,0.4,0.8,0.8S8.4,12.2,8,12.2z"
          ></path>
          <path
            d="M7.5,4h1v5h-1C7.5,9,7.5,4,7.5,4z M8,12.2c-0.4,0-0.8-0.4-0.8-0.8s0.3-0.8,0.8-0.8	c0.4,0,0.8,0.4,0.8,0.8S8.4,12.2,8,12.2z"
            data-icon-path="inner-path"
            opacity="0"
          ></path>
        </svg>
        <span class="co--dropdown-text__inner" id="example-ujn0i8pm5i8-value">
          Dropdown option
        </span>
        <span class="co--dropdown__arrow-container">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            class="co--dropdown__arrow"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            aria-hidden="true"
          >
            <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
          </svg>
        </span>
      </button>
      <ul
        class="co--dropdown-list"
        id="example-ujn0i8pm5i8-menu"
        role="menu"
        tabindex="0"
        id="example-ujn0i8pm5i8-menu"
        aria-hidden="true"
        wh-menu-anchor="left"
        aria-labelledby="example-ujn0i8pm5i8-label"
        data-floating-menu-direction="bottom"
      >
        <li
          data-option
          data-value="all"
          class="co--dropdown-item"
          title="Option 1"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="true"
            id="example-ujn0i8pm5i8-item0"
            >Option 1</a
          >
        </li>
        <li
          data-option
          data-value="cloudFoundry"
          class="co--dropdown-item"
          title="Option 2"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-ujn0i8pm5i8-item1"
            >Option 2</a
          >
        </li>
        <li
          data-option
          data-value="staging"
          class="co--dropdown-item"
          title="Option 3"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-ujn0i8pm5i8-item2"
            >Option 3</a
          >
        </li>
        <li
          data-option
          data-value="dea"
          class="co--dropdown-item"
          title="Option 4"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-ujn0i8pm5i8-item3"
            >Option 4</a
          >
        </li>
        <li
          data-option
          data-value="router"
          class="co--dropdown-item"
          title="Option 5"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-ujn0i8pm5i8-item4"
            >Option 5</a
          >
        </li>
        <li
          data-option
          data-value="loremipsum"
          class="co--dropdown-item"
          title="An example option that is really long to show what should be done to handle long text"
        >
          <a
            class="co--dropdown-link"
            href="javascript:void(0)"
            tabindex="-1"
            role="menuitemradio"
            aria-checked="false"
            id="example-ujn0i8pm5i8-item5"
            >An example option that is really long to show what should be done
            to handle long text</a
          >
        </li>
      </ul>
    </div>
    <div class="co--form-requirement">This is not a validation message</div>
  </div>
</div>
