@mixin card {
  .#{$prefix}--card {
    background-color: $ui-01;
    outline: 2px solid transparent;
    outline-offset: -2px;
    border-radius: $border-radius;
    position: relative;
    display: block;
    &__header {
      padding: $spacing-05 $spacing-05 0 $spacing-05;
      &-title {
        @include type-style("productive-heading-02");
      }
    }
    &__content {
      padding: 0 $spacing-05;
      &:first-child,
      .#{$prefix}--card__header + & {
        padding-top: $spacing-05;
      }
      &:last-child {
        padding-bottom: $spacing-05;
      }
    }
    &__footer {
      padding: $spacing-02;
    }
    &:focus {
      @include focus-outline("outline");
    }
    &--light {
      background-color: $ui-02;
    }
  }

  .#{$prefix}--card.#{$prefix}--card--dense {
    .#{$prefix}--card__header {
      padding: $spacing-04 $spacing-04 0 $spacing-04;
    }
    .#{$prefix}--card__content {
      padding: 0 $spacing-04;
      &:first-child {
        padding-top: $spacing-04;
      }
      &:last-child {
        padding-bottom: $spacing-04;
      }
    }
    .#{$prefix}--card__header + .#{$prefix}--card__content {
      padding-top: $spacing-04;
    }
    .#{$prefix}--card__footer {
      padding: $spacing-02 0;
    }
  }
}

@include exports("card") {
  @include card;
}
