<div class="co--card mb-3" tabindex="0">
  <div class="co--card__content">
    <p>This is only content card.</p>
  </div>
</div>

<div class="co--card mb-3" tabindex="0">
  <div class="co--card__content">
    <p>This is card with actions.</p>
  </div>
  <div class="co--card__footer">
    <button class="co--btn co--btn--ghost">Action</button>
    <button class="co--btn co--btn--ghost">Action 2</button>
  </div>
</div>

<div class="co--card mb-3" tabindex="0">
  <div class="co--card__header">
    <p class="co--card__header-title">This is some Header</p>
  </div>
  <div class="co--card__content">
    <p>This is card with headers.</p>
  </div>
</div>

<div class="co--card mb-3" tabindex="0">
  <div class="co--card__header">
    <p class="co--card__header-title">This is some Header</p>
  </div>
  <div class="co--card__content">
    <p>This is full card.</p>
  </div>
  <div class="co--card__footer">
    <button class="co--btn co--btn--ghost">Action</button>
    <button class="co--btn co--btn--ghost">Action 2</button>
  </div>
</div>

<div class="co--card co--card--dense mb-3" tabindex="0">
  <div class="co--card__header">
    <p class="co--card__header-title">This is some Header</p>
  </div>
  <div class="co--card__content">
    <p>This is dense card.</p>
  </div>
  <div class="co--card__footer">
    <button class="co--btn co--btn--ghost co--btn--sm">Action</button>
    <button class="co--btn co--btn--ghost co--btn--sm">Action 2</button>
  </div>
</div>

<div class="co--card co--card--light mb-3" tabindex="0">
  <div class="co--card__header">
    <p class="co--card__header-title">This is some Header</p>
  </div>
  <div class="co--card__content">
    <p>This is light card. Dont use this on ui background</p>
  </div>
  <div class="co--card__footer">
    <button class="co--btn co--btn--ghost">Action</button>
    <button class="co--btn co--btn--ghost">Action 2</button>
  </div>
</div>
