<div class="p-3 d-flex">
  <div class="co--label-and-value">
    <label aria-label="Label" id="label-1">Label</label>
    <div aria-labelledby="label-1">Label Value</div>
  </div>
  <div class="co--label-and-value ml-5">
    <label aria-label="Label" id="label-1">Label</label>
    <div aria-labelledby="label-1">Label Value</div>
  </div>
  <div class="co--label-and-value ml-5">
    <label aria-label="Label" id="label-1">Label</label>
    <div aria-labelledby="label-1">Label Value</div>
  </div>
</div>
