<div class="p-3 mb-3" style="position: relative; height: 20vh">
  <h5>Overlay</h5>
  <div class="co--loading-overlay" style="position: absolute">
    <div data-loading class="co--loading">
      <svg class="co--loading__svg" viewBox="-75 -75 150 150">
        <title>Loading</title>
        <circle class="co--loading__stroke" cx="0" cy="0" r="37.5" />
      </svg>
    </div>
  </div>
</div>

<div class="p-3 mb-3">
  <h5>Without overlay</h5>

  <div data-loading class="co--loading">
    <svg class="co--loading__svg" viewBox="-75 -75 150 150">
      <title>Loading</title>
      <circle class="co--loading__stroke" cx="0" cy="0" r="37.5" />
    </svg>
  </div>
</div>

<div class="p-3">
  <h5>Small</h5>

  <div data-loading class="co--loading co--loading--small">
    <svg class="co--loading__svg" viewBox="-75 -75 150 150">
      <title>Loading</title>
      <circle class="co--loading__background" cx="0" cy="0" r="26.8125" />
      <circle class="co--loading__stroke" cx="0" cy="0" r="26.8125" />
    </svg>
  </div>
</div>
