<div class="p-3">
  <h6 class="mb-3">Default</h6>

  <div class="co--tree-list">
    <div class="co--tree-list-node co--tree-list-node--open">
      <div class="co--tree-list-node-content">
        <div class="co--tree-list-icon">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path d="M24 12L16 22 8 12z"></path>
            <title>Caret down</title>
          </svg>
        </div>
        <span>Applications</span>
      </div>
      <div class="co--tree-list-nodes">
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Calender</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Chrome</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Webstorm</div>
        </div>
      </div>
    </div>
    <div class="co--tree-list-node">
      <div class="co--tree-list-node-content">
        <div class="co--tree-list-icon">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path d="M24 12L16 22 8 12z"></path>
            <title>Caret down</title>
          </svg>
        </div>
        <span>Documents</span>
      </div>
      <div class="co--tree-list-nodes">
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Excel</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Pdf</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Txt</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <h6 class="mb-3">With selection</h6>
  <div class="co--tree-list">
    <div class="co--tree-list-node co--tree-list-node--open">
      <div class="co--tree-list-node-content">
        <div class="co--tree-list-icon">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path d="M24 12L16 22 8 12z"></path>
            <title>Caret down</title>
          </svg>
        </div>
        <div class="co--form-item co--checkbox-wrapper">
          <input
            id="co--checkbox-new"
            class="co--checkbox"
            type="checkbox"
            value="new"
            name="checkbox"
            checked
          />
          <label for="co--checkbox-new" class="co--checkbox-label">
            <span class="co--checkbox-label-text">Applications</span>
          </label>
        </div>
      </div>
      <div class="co--tree-list-nodes">
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">
            <div class="co--form-item co--checkbox-wrapper">
              <input
                id="co--checkbox-new2"
                class="co--checkbox"
                type="checkbox"
                value="new"
                name="checkbox"
                checked
              />
              <label for="co--checkbox-new2" class="co--checkbox-label">
                <span class="co--checkbox-label-text">Calender</span>
              </label>
            </div>
          </div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">
            <div class="co--form-item co--checkbox-wrapper">
              <input
                id="co--checkbox-new3"
                class="co--checkbox"
                type="checkbox"
                value="new"
                name="checkbox"
                checked
              />
              <label for="co--checkbox-new3" class="co--checkbox-label">
                <span class="co--checkbox-label-text">Chrome</span>
              </label>
            </div>
          </div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">
            <div class="co--form-item co--checkbox-wrapper">
              <input
                id="co--checkbox-new4"
                class="co--checkbox"
                type="checkbox"
                value="new"
                name="checkbox"
                checked
              />
              <label for="co--checkbox-new4" class="co--checkbox-label">
                <span class="co--checkbox-label-text">Webstorm</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="co--tree-list-node">
      <div class="co--tree-list-node-content">
        <div class="co--tree-list-icon">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path d="M24 12L16 22 8 12z"></path>
            <title>Caret down</title>
          </svg>
        </div>
        <span>Documents</span>
      </div>
      <div class="co--tree-list-nodes">
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Excel</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Pdf</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Txt</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <h6 class="mb-3">With Activatable</h6>

  <div class="co--tree-list co--tree-list--activatable">
    <div class="co--tree-list-node co--tree-list-node--open">
      <div class="co--tree-list-node-content">
        <div class="co--tree-list-icon">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path d="M24 12L16 22 8 12z"></path>
            <title>Caret down</title>
          </svg>
        </div>
        <span>Applications</span>
      </div>
      <div class="co--tree-list-nodes">
        <div class="co--tree-list-node co--tree-list-node--active">
          <div class="co--tree-list-node-content">Calender</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Chrome</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Webstorm</div>
        </div>
      </div>
    </div>
    <div class="co--tree-list-node">
      <div class="co--tree-list-node-content">
        <div class="co--tree-list-icon">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path d="M24 12L16 22 8 12z"></path>
            <title>Caret down</title>
          </svg>
        </div>
        <span>Documents</span>
      </div>
      <div class="co--tree-list-nodes">
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Excel</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Pdf</div>
        </div>
        <div class="co--tree-list-node">
          <div class="co--tree-list-node-content">Txt</div>
        </div>
      </div>
    </div>
  </div>
</div>
