<div class="p-3">
  <h6 class="mb-3">Default</h6>

  <div class="co--timeline-table">
    <div class="co--timeline-table-header">
      <div class="co--timeline-table-row">
        <div class="co--timeline-table-leading-cell">Tip</div>
        <div class="co--timeline-table-navigation">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path d="M20 24L10 16 20 8z"></path>
            <title>Caret left</title>
          </svg>
        </div>
        <div class="co--timeline-table-cells">
          <div class="co--timeline-table-cell">00</div>
          <div class="co--timeline-table-cell">01</div>
          <div class="co--timeline-table-cell">02</div>
          <div class="co--timeline-table-cell">03</div>
          <div class="co--timeline-table-cell">04</div>
          <div class="co--timeline-table-cell">05</div>
          <div class="co--timeline-table-cell">06</div>
          <div class="co--timeline-table-cell">07</div>
          <div class="co--timeline-table-cell">08</div>
          <div class="co--timeline-table-cell">09</div>
          <div class="co--timeline-table-cell">10</div>
          <div class="co--timeline-table-cell">11</div>
          <div class="co--timeline-table-cell">12</div>
          <div class="co--timeline-table-cell">13</div>
          <div class="co--timeline-table-cell">14</div>
          <div class="co--timeline-table-cell">15</div>
          <div class="co--timeline-table-cell">16</div>
          <div class="co--timeline-table-cell">17</div>
          <div class="co--timeline-table-cell">18</div>
          <div class="co--timeline-table-cell">19</div>
          <div class="co--timeline-table-cell">20</div>
          <div class="co--timeline-table-cell">21</div>
          <div class="co--timeline-table-cell">22</div>
          <div class="co--timeline-table-cell">23</div>
        </div>
        <div class="co--timeline-table-navigation">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path d="M12 8L22 16 12 24z"></path>
            <title>Caret right</title>
          </svg>
        </div>
      </div>
    </div>
    <div class="co--timeline-table-body">
      <div class="co--timeline-table-row">
        <div class="co--timeline-table-leading-cell">Tip 1</div>
        <div class="co--timeline-table-navigation"></div>
        <div class="co--timeline-table-cells">
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell">
            <svg
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              width="24"
              height="24"
              viewBox="0 0 32 32"
              aria-hidden="true"
            >
              <path d="M15 19H17V21H15zM15 23H17V25H15z"></path>
              <path
                d="M23,11.67V4h3V2H6V4H9v7.67a2,2,0,0,0,.4,1.2L11.75,16,9.4,19.13a2,2,0,0,0-.4,1.2V28H6v2H26V28H23V20.33a2,2,0,0,0-.4-1.2L20.25,16l2.35-3.13A2,2,0,0,0,23,11.67ZM21,4v7H11V4Zm0,16.33V28H11V20.33L14.25,16,12,13h8l-2.25,3Z"
              ></path>
              <title>Hourglass</title>
            </svg>
          </div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
        </div>
        <div class="co--timeline-table-navigation"></div>
      </div>
      <div class="co--timeline-table-row">
        <div class="co--timeline-table-leading-cell">Tip 2</div>
        <div class="co--timeline-table-navigation"></div>

        <div class="co--timeline-table-cells">
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
        </div>
        <div class="co--timeline-table-navigation"></div>
      </div>

      <div class="co--timeline-table-row">
        <div class="co--timeline-table-leading-cell">Tip 3</div>
        <div class="co--timeline-table-navigation"></div>

        <div class="co--timeline-table-cells">
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell">
            <svg
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              width="24"
              height="24"
              viewBox="0 0 32 32"
              aria-hidden="true"
            >
              <path d="M15 19H17V21H15zM15 23H17V25H15z"></path>
              <path
                d="M23,11.67V4h3V2H6V4H9v7.67a2,2,0,0,0,.4,1.2L11.75,16,9.4,19.13a2,2,0,0,0-.4,1.2V28H6v2H26V28H23V20.33a2,2,0,0,0-.4-1.2L20.25,16l2.35-3.13A2,2,0,0,0,23,11.67ZM21,4v7H11V4Zm0,16.33V28H11V20.33L14.25,16,12,13h8l-2.25,3Z"
              ></path>
              <title>Hourglass</title>
            </svg>
          </div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
        </div>
        <div class="co--timeline-table-navigation"></div>
      </div>

      <div class="co--timeline-table-row">
        <div class="co--timeline-table-leading-cell">Tip 4</div>
        <div class="co--timeline-table-navigation"></div>

        <div class="co--timeline-table-cells">
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
        </div>
        <div class="co--timeline-table-navigation"></div>
      </div>

      <div class="co--timeline-table-row">
        <div class="co--timeline-table-leading-cell">Tip 5</div>
        <div class="co--timeline-table-navigation"></div>

        <div class="co--timeline-table-cells">
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
          <div class="co--timeline-table-cell"></div>
        </div>
        <div class="co--timeline-table-navigation"></div>
      </div>

      <div class="co--timeline-table__now-indicator" style="left: 230px">
        <div class="co--timeline-table__now-indicator-header"></div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <h6 class="mb-3">Group</h6>

  <div class="co--timeline-table">
    <div class="co--timeline-table-header">
      <div class="co--timeline-table-row">
        <div class="co--timeline-table-icon">Tip</div>
        <div class="co--timeline-table-leading-cell">Adı</div>
        <div class="co--timeline-table-cells">
          <div class="co--timeline-table-cell">00</div>
          <div class="co--timeline-table-cell">01</div>
          <div class="co--timeline-table-cell">02</div>
          <div class="co--timeline-table-cell">03</div>
          <div class="co--timeline-table-cell">04</div>
          <div class="co--timeline-table-cell">05</div>
          <div class="co--timeline-table-cell">06</div>
          <div class="co--timeline-table-cell">07</div>
          <div class="co--timeline-table-cell">08</div>
          <div class="co--timeline-table-cell">09</div>
          <div class="co--timeline-table-cell">10</div>
          <div class="co--timeline-table-cell">11</div>
          <div class="co--timeline-table-cell">12</div>
          <div class="co--timeline-table-cell">13</div>
          <div class="co--timeline-table-cell">14</div>
          <div class="co--timeline-table-cell">15</div>
          <div class="co--timeline-table-cell">16</div>
          <div class="co--timeline-table-cell">17</div>
          <div class="co--timeline-table-cell">18</div>
          <div class="co--timeline-table-cell">19</div>
          <div class="co--timeline-table-cell">20</div>
          <div class="co--timeline-table-cell">21</div>
          <div class="co--timeline-table-cell">22</div>
          <div class="co--timeline-table-cell">23</div>
        </div>
      </div>
    </div>
    <div class="co--timeline-table-body">
      <div class="co--timeline-table-group">
        <div class="co--timeline-table-icon">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="24"
            height="24"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <circle cx="10" cy="28" r="2"></circle>
            <circle cx="24" cy="28" r="2"></circle>
            <path
              d="M28,7H5.82L5,2.8A1,1,0,0,0,4,2H0V4H3.18L7,23.2A1,1,0,0,0,8,24H26V22H8.82L8,18H26a1,1,0,0,0,1-.78l2-9A1,1,0,0,0,28,7Zm-2.8,9H7.62L6.22,9H26.75Z"
            ></path>
            <title>Shopping cart</title>
          </svg>
        </div>
        <div class="co--timeline-table-rows">
          <div class="co--timeline-table-row">
            <div class="co--timeline-table-leading-cell">Tip 1</div>
            <div class="co--timeline-table-cells">
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
            </div>
          </div>
          <div class="co--timeline-table-row">
            <div class="co--timeline-table-leading-cell">Tip 2</div>
            <div class="co--timeline-table-cells">
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
            </div>
          </div>

          <div class="co--timeline-table-row">
            <div class="co--timeline-table-leading-cell">Tip 3</div>
            <div class="co--timeline-table-cells">
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="co--timeline-table-group">
        <div class="co--timeline-table-icon">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="24"
            height="24"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path
              d="M30,10.68l-2-6A1,1,0,0,0,27,4H5a1,1,0,0,0-1,.68l-2,6A1.19,1.19,0,0,0,2,11v6a1,1,0,0,0,1,1H4V28H6V18h6V28H28V18h1a1,1,0,0,0,1-1V11A1.19,1.19,0,0,0,30,10.68ZM26,26H14V18H26Zm2-10H24V12H22v4H17V12H15v4H10V12H8v4H4V11.16L5.72,6H26.28L28,11.16Z"
            ></path>
            <title>Store</title>
          </svg>
        </div>
        <div class="co--timeline-table-rows">
          <div class="co--timeline-table-row">
            <div class="co--timeline-table-leading-cell">Tip 1</div>
            <div class="co--timeline-table-cells">
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
            </div>
          </div>
          <div class="co--timeline-table-row">
            <div class="co--timeline-table-leading-cell">Tip 2</div>
            <div class="co--timeline-table-cells">
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
            </div>
          </div>

          <div class="co--timeline-table-row">
            <div class="co--timeline-table-leading-cell">Tip 3</div>
            <div class="co--timeline-table-cells">
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
              <div class="co--timeline-table-cell"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="co--timeline-table__now-indicator" style="left: 230px">
        <div class="co--timeline-table__now-indicator-header"></div>
      </div>
    </div>
  </div>
</div>
