
<div class="co--form-item">
    <label class="co--label ">
      Slider label
    </label>
    <div class="co--slider-container">
      <label id="slider-input-box_bottom-range-label" class="co--slider__range-label">0</label>
      <div class="co--slider " data-slider data-slider-input-box="#slider-input-box">
        <div class="co--slider__thumb" tabindex="0"></div>
        <div class="co--slider__track"></div>
        <div class="co--slider__filled-track"></div>
        <input aria-label="slider" id="slider" class="co--slider__input" type="range" step="1" min="0" max="100" value="25">
      </div>
      <label id="slider-input-box_top-range-label" class="co--slider__range-label">100</label>
      <input id="slider-input-box" aria-labelledby="slider-input-box_bottom-range-label slider-input-box_top-range-label" type="number" class="co--text-input co--slider-text-input" placeholder="0" value="25">
    </div>
  </div>

<div class="co--form-item">
    <label class="co--label co--label--disabled">
      Slider label
    </label>
    <div class="co--slider-container">
      <label id="slider-input-box_bottom-range-label" class="co--slider__range-label">0</label>
      <div class="co--slider  co--slider--disabled" data-slider data-slider-input-box="#slider-input-box">
        <div class="co--slider__thumb" tabindex="0"></div>
        <div class="co--slider__track"></div>
        <div class="co--slider__filled-track"></div>
        <input aria-label="slider" id="slider" class="co--slider__input" type="range" step="1" min="0" max="100" value="50">
      </div>
      <label id="slider-input-box_top-range-label" class="co--slider__range-label">100</label>
      <input id="slider-input-box" aria-labelledby="slider-input-box_bottom-range-label slider-input-box_top-range-label" type="number" class="co--text-input co--slider-text-input" placeholder="0" value="50">
    </div>
  </div>