<div class="p-3">
  <h5>Default - Row Hours</h5>

  <div class="co--calender" style="height: 80vh">
    <div class="co--calender-header">
      <div class="co--calender-hour"></div>
      <div class="co--calender-minute"></div>
      <div class="co--calender-row">
        <div class="co--calender-cell">14 Pzt</div>
        <div class="co--calender-cell">15 Sal</div>
        <div class="co--calender-cell">16 Çar</div>
        <div class="co--calender-cell">17 Per</div>
        <div class="co--calender-cell">18 Cum</div>
        <div class="co--calender-cell">19 Cmt</div>
        <div class="co--calender-cell">20 Paz</div>
      </div>
    </div>
    <div class="co--calender-body">
      <div class="co--calender-hours">
        <div class="co--calender-hour">00</div>
        <div class="co--calender-hour">01</div>
        <div class="co--calender-hour">02</div>
        <div class="co--calender-hour">03</div>
        <div class="co--calender-hour">04</div>
        <div class="co--calender-hour">05</div>
        <div class="co--calender-hour">06</div>
        <div class="co--calender-hour">07</div>
        <div class="co--calender-hour">08</div>
        <div class="co--calender-hour">09</div>
        <div class="co--calender-hour">10</div>
        <div class="co--calender-hour">11</div>
        <div class="co--calender-hour">12</div>
        <div class="co--calender-hour">13</div>
        <div class="co--calender-hour">14</div>
        <div class="co--calender-hour">15</div>
        <div class="co--calender-hour">16</div>
        <div class="co--calender-hour">17</div>
        <div class="co--calender-hour">18</div>
        <div class="co--calender-hour">19</div>
        <div class="co--calender-hour">20</div>
        <div class="co--calender-hour">21</div>
        <div class="co--calender-hour">22</div>
        <div class="co--calender-hour">23</div>
      </div>
      <div class="co--calender-minutes">
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
        <div class="co--calender-minute">
          <div class="co--calender-minute-item">00</div>
          <div class="co--calender-minute-item">20</div>
          <div class="co--calender-minute-item">40</div>
        </div>
      </div>
      <div class="co--calender-rows">
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
        <div class="co--calender-row">
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
          <div class="co--calender-cell"></div>
        </div>
      </div>
    </div>
  </div>
</div>
